@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

* {   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    }

body {
    font-family: 'Roboto Slab', sans-serif ;
    font-weight: 300;
    background-color: #003049;
    
  }
/* headings and logo */


h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #003049;
    font-size: 300%;
    font-weight: 300;
    margin: .5em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 200%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 100%;

}

#logo {
    float:left;
    font-size: 300%;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 10px;
    text-transform: uppercase;
}

/*navigation links*/

#menu {
    font-size: 150%;
    letter-spacing: 5px; 
    background-color: #f77f00;
   
}

#menu, #logo {
line-height: 80px;
height: 100px;
color: #003049;
}

#menu li {
    list-style-type: none;
    float: right;
    margin: 10px;
}

#menu li i {
    color: #003049;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}


/*hero image */
#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/campervan-hero.jpg') no-repeat center center;
    background-color: #003049;   
}

/* banner */
.banner {
    background-color: #3fe491;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

#who-we-are, #camper-hacks-clothing {
    background-color: #f77f00;
    line-height: 60px;
    font-size: larger;
    text-align: center;
}

#camper-hacks-clothing {
    width: 55%;
    display: inline-flex; 
    float:left;
}

#camper-hacks-clothing li {
    list-style-type: none;
}

#clothing-video {
   display: inline-flex;
   width: 40%
}

/*gallery*/

#images {
    clear: both;
    line-height: 2;
    column-count: 3;
    column-gap: 2;
    display: inline-block;
    margin:10px;
    padding:10px; 
}

#images > img {
    width: 100%;
}

/* footer*/

footer {
    background-color: #3fe491;
    width: 100%;
}
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #003049;
}