@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    background-color: #003049;

}

/* headings and logo */


h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #003049;
    font-size: 300%;
    font-weight: 300;
    margin: .5em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 200%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 100%;

}

#logo {
    float: left;
    font-size: 300%;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 10px;
    text-transform: uppercase;
}

/*navigation links*/

#menu {
    font-size: 150%;
    letter-spacing: 5px;
    background-color: #f77f00;
}

#menu,
#logo {
    line-height: 80px;
    height: 100px;
    color: #003049;
}

#menu li {
    list-style-type: none;
    float: right;
    margin: 10px;
}

#menu li i {
    color: #003049;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}


/*hero image */
#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/campervan-hero.jpg') no-repeat center center;
    background-color: #003049;
}

/*who we are section */
.intro-section {
    background-color: #3fe491;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

#who-we-are {
    background-color: #f77f00;
    line-height: 60px;
    font-size: larger;
    text-align: center;
}

/* clothing section */

.clothing-section {
    background-color: #3fe491;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    height: 940px;
}

#camper-hacks-clothing {
    background-color: #f77f00;
    line-height: 40px;
    font-size: large;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#camper-hacks-clothing {
    margin-left: 5px;
}

#camper-hacks-clothing li {
    list-style-type: none;
}

/* gear section*/

.gear-section {
    background-color: #3fe491;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

#camper-hacks-gear {
    background-color: #f77f00;
    line-height: 40px;
    font-size: large;
    width: 100%;
    margin-right: 5px;
}

#camper-hacks-gear li {
    list-style-type: none;
}

iframe {
    width: 900px;
    height: 400px;
}

/* food section*/
.food-section {
    background-color: #3fe491;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    height: 1250px;
}

#camper-hacks-food {
    background-color: #f77f00;
    line-height: 40px;
    font-size: large;
    width: 100%;
    margin: 0 auto;
}

#camper-hacks-food li {
    list-style-type: none;
    text-align: center;
}

#podcast {
    width: 100%;
    height:100%;
}

#pancakes-one {
    width: fit-content;
}

#twitter {
    background-color: rgb(163, 137, 163);
    width: 60%;
    display: inline-flex;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

/*gallery*/

#images {
    clear: both;
    line-height: 2;
    column-count: 3;
    column-gap: 10px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#images>img {
    width: 100%;
}

/* footer*/

footer {
    background-color: #3fe491;
    width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #003049;
}

#copyright {
    text-align: center;
}

/* form section */

.form-section {
    background: url('../images/thankyou.jpeg') no-repeat center center;
    height: 1200px;
}

.signupform {
    text-align: center;
    font-size: 150%;
    line-height: 75px;
    font-family: 'Montserrat', sans-serif;
    background-color: #3fe491;
}

.join-up {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    clear: both;
    letter-spacing: 4px;
    color: #003049;
    font-size: 100%;
    font-weight: 300;
    margin: .5em;
    background-color: #3fe491;
}

.join-button {
    padding: 20px 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 125%;
    background-color: #f77f00;
    color: #003049;
    width: 100%;
}

/* thank you page */

.thank-you {
    background-color: #3fe491;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

#thankyou-message {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    clear: both;
    letter-spacing: 4px;
    line-height: 75px;
    color: #003049;
    font-size: 150%;
    font-weight: 300;
    margin: .5em;
    background-color: #3fe491;
}


/*media queries*/

/* for extra large screen size from 1350px wide and down */
@media screen and (max-width: 1350px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #logo {
        width: 100%;
        background-color: #f77f00;
        color: #003049;
        margin: 0 auto;
        text-align: center;
    }

    header>nav {
        width: 100%;
    }

    nav> ul {
        display:flex;
        flex-direction: column-reverse;
    }

    #menu {
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        text-align: center;
    }

    #menu li {
        justify-content: space-around;
        line-height: 40px;
    }

    .clothing-section {
        height: fit-content;
    }

    .gear-section {
        height: fit-content;
    }

    #camper-hacks-gear {
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .video {
        text-align: center;
    }

    .food-section {
        height: fit-content;
    }

}

/* for larger screen sizes from 1080px wide and down */
@media screen and (max-width: 1080px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #logo {
        width: 100%;
        background-color: #f77f00;
        color: #003049;
        margin: 0 auto;
        text-align: center;
    }

    nav {
        width: 100%;
    }

    iframe {
        width: 600px;
        height: 300px;
    }

}


/* for medium screen sizes from 650px wide and down */
@media screen and (max-width: 650px) {

    h1 {
        font-size: 150%;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;

    }

    #logo {
        width: 100%;
        background-color: #f77f00;
        font-size: x-large;
        color: #003049;
        margin: 0 auto;
        text-align: center;
    }

    header>nav {
        width: 100%;
    }

    #who-we-are,
    #camper-hacks-clothing,
    #camper-hacks-gear,
    #camper-hacks-food {
        font-size: small;
    }

    #clothing-section-image {
        width: 75%;
        height: 75%;
    }

    .gear-section {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
    }

    #podcast {
        width: 100%;
        height: 100%;
    }

    .form-section {
        background: #003049;
        height: 2000px;
        display: flex;
    }

    .form-section label {
        display: block;
    }

    #images {
        clear: both;
        line-height: 2;
        column-count: 2;
        column-gap: 1px;
        display: inline-block;
        margin: 10px;
        padding: 10px;
    }

    #pancakes-one {
        width: 50%;
        height: 50%;
    }
}