@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    background-color: #003049;

}

/* headings and logo */


h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #003049;
    font-size: 300%;
    font-weight: 300;
    margin: .5em;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 200%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: black;
    font-size: 100%;

}

#logo {
    float: left;
    font-size: 300%;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 10px;
    text-transform: uppercase;
}

/*navigation links*/

#menu {
    font-size: 150%;
    letter-spacing: 5px;
    background-color: #f77f00;

}

#menu,
#logo {
    line-height: 80px;
    height: 100px;
    color: #003049;
}

#menu li {
    list-style-type: none;
    float: right;
    margin: 10px;
}

#menu li i {
    color: #003049;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 2px solid black;
}

.active {
    border-bottom: 2px solid black;
}


/*hero image */
#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/campervan-hero.jpg') no-repeat center center;
    background-color: #003049;
}

/*who we are section */
.intro-section {
    background-color: #3fe491;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

#who-we-are {
    background-color: #f77f00;
    line-height: 60px;
    font-size: larger;
    text-align: center;
}

/* clothing section */

.clothing-section {
    background-color: #3fe491;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    height: 650px;
}

#camper-hacks-clothing {
    background-color: #f77f00;
    line-height: 40px;
    font-size: large;
    text-align: center;
}

#camper-hacks-clothing {
    width: 55%;
    display: inline-flex;
    float: left;
    margin-left: 5px;
}

#camper-hacks-clothing li {
    list-style-type: none;
}

#clothing-video {
    display: inline-flex;
    width: 40%
}

/* gear section*/

.gear-section {
    background-color: #3fe491;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    height: 1000px;
}

#camper-hacks-gear {
    background-color: #f77f00;
    line-height: 40px;
    font-size: large;
}

#camper-hacks-gear {
    width: 65%;
    display: inline-flex;
    float: right;
    margin-right: 5px;
}

#camper-hacks-gear li {
    list-style-type: none;
}

#gear-video-one {
    padding-top: 0;
    width: 100%;
}

#gear-video-two {
    margin: 0 auto;
    width: 100%;
}

/* food section*/
.food-section {
    background-color: #3fe491;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    height: 1200px;
}

#camper-hacks-food {
    background-color: #f77f00;
    line-height: 40px;
    font-size: large;
    width: 100%;
    margin: 0 auto;
}


#camper-hacks-food li {
    list-style-type: none;
    text-align: center;
}

#food-podcast {
    margin: 10px;
}

#pancakes-one {
    margin: 10px;
}

#twitter {
    background-color: rgb(163, 137, 163);
    width: 60%;
    display: inline-flex;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

/*gallery*/

#images {
    clear: both;
    line-height: 2;
    column-count: 3;
    column-gap: 2;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

#images>img {
    width: 100%;
}

/* footer*/

footer {
    background-color: #3fe491;
    width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #003049;
}

#copyright {
    text-align: center;
}

/* form section */

.form-section {
    background: url('../images/thankyou.jpeg') no-repeat center center;
    height: 1200px;
}

.signupform {
    text-align: center;
    font-size: 150%;
    line-height: 75px;
    font-family: 'Montserrat', sans-serif;
    background-color: #3fe491;
}


.join-up {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    clear: both;
    letter-spacing: 4px;
    color: #003049;
    font-size: 100%;
    font-weight: 300;
    margin: .5em;
    background-color: #3fe491;

}

.join-button {
    margin-top: 20px;
    margin-left: 600px;
    padding: 20px 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 125%;
    background-color: #f77f00;
    color: #003049;
    display: block;
}

/* thank you page */

.thank-you {
    background-color: #3fe491;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

#thankyou-message {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    clear: both;
    letter-spacing: 4px;
    line-height: 75px;
    color: #003049;
    font-size: 150%;
    font-weight: 300;
    margin: .5em;
    background-color: #3fe491;

}


/*media queries*/

/* for larger to medium screen size from 1325px wide and down */
@media screen and (max-width: 1325px) {

    header {
        height: fit-content;
    }

    #menu {
        letter-spacing: 6px;
        height: 250px;
    }

    #menu li {
        list-style-type: none;
        width:25%;
        font-size: large;
        
    }

    #logo {
        display: inline-flex;
        width: 40%;
        letter-spacing: 6px;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        margin-top: 50px;
    }

    .clothing-section {
        height: 700px;
    }

    .gear-section {
        height: 1250px;
    }

    .food-section {
        height: fit-content
    }

}
